In [ ]:
#1 Convert two lists into a dictionary.
keys = ['Ten', 'Twenty', 'Thirty']
values = [10, 20, 30]
dictn={}
for i in range(len(keys)):
  dictn[keys[i]]=values[i]
print(dictn)

{'Ten': 10, 'Twenty': 20, 'Thirty': 30}

In [ ]:
#1 Convert two lists into a dictionary.

key=input('Enter the key: ').split()
value=input('Enter values: ').split()
dictn={}
if len(key)!=len(value):
  print('Keys and values are not equal')
else:
  for i in range(len(key)):
    dictn[key[i]]=value[i]
  print(dictn)

Enter the key: Ten Twenty Thirty
Enter values: 10 20 30
{'Ten': '10', 'Twenty': '20', 'Thirty': '30'}

In [ ]:
#2 Merge two Python dictionaries into one
dict1={}
dict2={}

n_range1=int(input("Enter the number of entries you want to add: "))
for i in range(n_range1):
  key=input('Enter key: ')
  value=input('Enter values: ')
  dict1[key]=value
print('dict1 values:',dict1)

n_range2=int(input("Enter the number of entries you want to add: "))
for i in range(n_range1):
  key=input('Enter key: ')
  value=input('Enter values: ')
  dict2[key]=value
print('dict2 values:',dict2)
dict1.update(dict2)
print(dict1)

Enter the number of entries you want to add: 3
Enter key: Ten
Enter values: 10
Enter key: Twenty
Enter values: 20
Enter key: Thirty
Enter values: 30
dict1 values: {'Ten': '10', 'Twenty': '20', 'Thirty': '30'}
Enter the number of entries you want to add: 3
Enter key: Thirty
Enter values: 30
Enter key: Fourty
Enter values: 40
Enter key: Fifty
Enter values: 50
dict2 values: {'Thirty': '30', 'Fourty': '40', 'Fifty': '50'}
{'Ten': '10', 'Twenty': '20', 'Thirty': '30', 'Fourty': '40', 'Fifty': '50'}

In [ ]:
#3 Print the value of key ‘history’ from the below dict
sampleDict = {
    "class": {
        "student": {
            "name": "Mike",
            "marks": {
                "physics": 70,
                "history": 80
            }
        }
    }
}
print(sampleDict)
print(sampleDict['class']['student']['marks']['history'])

{'class': {'student': {'name': 'Mike', 'marks': {'physics': 70, 'history': 80}}}}
80

In [ ]:
#4 Initialize dictionary with default values

employees = ['Kelly', 'Emma']
defaults = {"designation": 'Developer', "salary": 8000}
dict1={employees[0]:defaults,employees[1]:defaults}
print(dict1)

{'Kelly': {'designation': 'Developer', 'salary': 8000}, 'Emma': {'designation': 'Developer', 'salary': 8000}}

In [ ]:
#7 Check if a value exists in a dictionary
sample_dict = {'a': 100, 'b': 200, 'c': 300}
n=int(input('Enter the values you want to check: '))
if n in sample_dict.values():
  print(f'{n} is present in dict')
else:
  print(f'{n} not present in dict')

Enter the values you want to check: 100
100 is present in dict

In [ ]:
#8 Rename key of a dictionary
sample_dict = {
  "name": "Kelly",
  "age":25,
  "salary": 8000,
  "city": "New york"
}
sample_dict['location']=sample_dict['city']
del sample_dict['city']
print(sample_dict)
sample_dict['location']=sample_dict.pop('city')
print(sample_dict)

{'name': 'Kelly', 'age': 25, 'salary': 8000, 'location': 'New york'}

In [ ]:
#9 Get the key of a minimum value from the following dictionary
sample_dict = {
  'Physics': 82,
  'Math': 65,
  'history': 75
}
if len(sample_dict)==0:
  print('Empty Dict')
else:
  min_key=min(sample_dict.keys())
  print(min_key)
#print(min_val)

Math

In [ ]:
#10 Change value of a key in a nested dictionary
sample_dict = {
    'emp1': {'name': 'Jhon', 'salary': 7500},
    'emp2': {'name': 'Emma', 'salary': 8000},
    'emp3': {'name': 'Brad', 'salary': 500}
}
print(sample_dict)
sample_dict['emp3']['salary']=8500
print(sample_dict)

{'emp1': {'name': 'Jhon', 'salary': 7500}, 'emp2': {'name': 'Emma', 'salary': 8000}, 'emp3': {'name': 'Brad', 'salary': 500}}
{'emp1': {'name': 'Jhon', 'salary': 7500}, 'emp2': {'name': 'Emma', 'salary': 8000}, 'emp3': {'name': 'Brad', 'salary': 8500}}